# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
ENV/
env/
.venv/
.env/

# Environment variables file
.env

# VS Code settings
.vscode/

# Pytest cache
.pytest_cache/

# MyPy
.mypy_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# PyInstaller
dist/
build/
*.spec

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# MacOS
.DS_Store
